@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Audiowide");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables"; 
@import "./card-pokemon"; 
@import "./pokemon-detail"; 
@import "./loading"; 
@import "./modal"; 

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background {
  background-image: url('/background.png');
}

@each $type, $color in $pokemon-types-colors {
  .bg-#{$type}-500 {
    background-color: #{$color};
  }
}

